fastapi
uvicorn[standard]

opencv-contrib-python==4.8.1.78
mediapipe==0.10.5
numpy==1.26.4

scikit-learn
joblib
python-multipart

torch==2.1.0
torchvision==0.16.0

sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv
email-validator